@font-face {
    font-family: 'Minecraft';
    src: url('./fonts/arcade_classic_2/ARCADECLASSIC.TTF') format('truetype');
}

body.black 
{
    background-color: black;;
    color:white;
}

h1.global_title
{
    color: red;
}

h4.title 
{
    color:red;
}